@font-face {
    font-family: 'Myriad Pro';
    src: url('../../lib/fonts/MyriadPro-Bold.woff2') format('woff2'),
    url('../../lib/fonts/MyriadPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('../../lib/fonts/MyriadPro-Semibold.woff2') format('woff2'),
    url('../../lib/fonts/MyriadPro-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('../../lib/fonts/MyriadPro-Regular.woff2') format('woff2'),
    url('../../lib/fonts/MyriadPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


